fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

pydantic
pydantic-settings
email-validator

python-dotenv

python-jose[cryptography]

passlib[bcrypt]
bcrypt==4.0.1

python-multipart

alembic

paho-mqtt

influxdb-client

websockets
apscheduler
